.outer-box {
  border: 3px solid black;
  margin: 150px;
  padding: 10px;
}
.inner-box {
  border: 3px solid black;
  margin: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}
.sub-box {
  border: 3px solid black;
  padding: 10px;
  height: 120px;
}
